<div class="container">
  <div class="container" style="margin-top: 15px;">
    <div class="row align-items-start" style="margin-bottom: 16px;">
      <div class="col" style="padding: 0px;">
        <div class="card" style="background-color: transparant; border-color: white; font-family: 'Roboto Condensed', sans-serif; ">
          Name
        </div>
      </div>
      <div class="col" style="padding: 0px;">
        <div class="card" style="background-color: transparant; border-color: white; font-family: 'Roboto Condensed', sans-serif;">
          Start date
        </div>
      </div>
      <div class="col" style="padding: 0px;">
        <div class="card" style="background-color: transparant; border-color: white; font-family: 'Roboto Condensed', sans-serif;">
          End date
        </div>
      </div>
      <div class="col" style="padding: 0px;">
        <div class="card" style="background-color: transparant; border-color: white; font-family: 'Roboto Condensed', sans-serif;">
          Status
        </div>
      </div>
      <div class="col" style="padding: 0px;">
        <div class="card" style="background-color: transparant; border-color: white; font-family: 'Roboto Condensed', sans-serif;">
          Accept Or Decline
        </div>
      </div>
    </div>
  </div>
  <div class="container" >
    <% @bookings.each do |booking| %>
      <% if booking.product.owner_id == current_user.id %>
        <div class="card mb-3">
          <div class="row align-items-start" style="margin-left: -5px; font-family: 'Roboto Condensed', sans-serif;">
            <div class="col" style="padding: 10px;">
              <%= booking.user.first_name %> <%= booking.user.last_name %>
            </div>
            <div class="col" style="padding: 10px;">
              <%= booking.date %>
            </div>
            <div class="col" style="padding: 10px;">
              <%= booking.end_date %>
            </div>
            <div class="col" style="padding: 10px;">
              <%= booking.status %>
            </div>
            <% if booking.status == "Pending" %>
              <div class="col" style="padding: 10px;">
                <div class="row">
                  <div class="col">
                    <%= button_to "Accept", accept_booking_path(booking), method: :patch, class: "accept-decline" %>
                  </div>
                  <div class="col">
                    <%= button_to "Decline", decline_booking_path(booking), method: :patch, class: "accept-decline" %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="col" style="padding: 10px;"></div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
