<h1><%= @product.brand%></h1>
<h3><%= @booking.product %></h3>
<%= simple_form_for [@product, @booking] do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit %>
<% end %>

<%= @diff %>
