



<!---<ul>
<% @products.each do |product| %>
<%= link_to product.brand, product_path(product) %>
<% end %>
</ul>--->


<div class="banner">
  <h1>Stay classy with Top Hat</h1>
</div>






<div class="category">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4164080/data/ce57974be3c4e0d072e672db9d0d7094/16x9_two-columns/637/data.jpeg)"><%= link_to "Woman", filter_products_path("Woman", [{size: 'XXL',brand: 'Zara Kids'}])%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4163812/data/7174547bb86b58bdb04d8e9f060ac064/16x9_two-columns/637/data.jpeg)"><%= link_to "Formal", filter_products_path("Formal", [{size: 'XXL',brand: 'Zara Kids'}])%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4164154/data/acba076785479b561cef41bcd17fdb35/16x9_two-columns/637/data.jpeg)"><%= link_to "Man", filter_products_path("Man", [{size: 'XXL',brand: 'Zara Kids'}])%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/3461704/data/40f66ea9dac40a63194cfe31365a349b/16x9_two-columns/637/data.png)"><%= link_to "Kids", filter_products_path("Kids", [{size: 'XXL',brand: 'Zara Kids'}])%></div>
</div>

<div>
<h2>Featured products</h2>
</div>
<div class="container-cards">
  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <div>
        <h2>Brand</h2>
        <p>Short description here!</p>
      </div>
      <div  class="price">
      <h2 class="card-product-pricing">19,99€</h2>
      </div>
    </div>
  </div>

  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <div>
        <h2>Brand</h2>
        <p>Short description here!</p>
      </div>
      <div  class="price">
      <h2 class="card-product-pricing">19,99€</h2>
      </div>
    </div>
  </div>

  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <div>
        <h2>Brand</h2>
        <p>Short description here!</p>
      </div>
      <div  class="price">
      <h2 class="card-product-pricing">19,99€</h2>
      </div>
    </div>
  </div>

  <div class="card-product">
    <img src="" />
    <div class="card-product-infos">
      <div>
        <h2>Brand</h2>
        <p>Short description here!</p>
      </div>
      <div  class="price">
      <h2 class="card-product-pricing">19,99€</h2>
      </div>
    </div>
  </div>

  <div class="card-product">
    <img src="r" />
    <div class="card-product-infos">
      <div>
        <h2>Brand</h2>
        <p>Short description here!</p>
      </div>
      <div  class="price">
      <h2 class="card-product-pricing">19,99€</h2>
      </div>
    </div>
  </div>
</div>











<% @products.each do |product| %>
<%= link_to product.brand, product_path(product) %>
<% end %>
