<p  class="btn btn-secondary text-decoration-none"><%= link_to "Back to Homepage", products_path %></p>

<div class="container-form">
  <div class="form-new"><%= simple_form_for @product do |f| %>
    <%= f.input :brand, label: "Brand" %>
    <%= f.input :apparel_type, label: "Apparel Type", collection: ["Dress", "Jacket", "Pants", "Jeans", "T-Shirt", "Sweatshirt", "Skirt", "Suit", "Wedding Dress", "Shirt"] %>
    <%= f.input :category, label: "Category", collection: ["Women", "Men", "Formal", "Kids"] %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :size, label: "Size", collection: ["XS", "S", "M", "L", "XL"] %>
    <%= f.input :price_per_cycle, label: "Price" %>
    <%= f.input :photo, as: :file, label: "Upload a photo of the clothes" %>
    <div class= "text-center">
    <p class= "btn-create"><%= f.button :submit, "Create Product" %></p>
    </div>
    <% end %>
  </div>
</div>
