<%= link_to "Back",  filter_products_path(@product.category) , class: "back-btn" %>
<div class="product-details">
  <div class="image">
    <%= cl_image_tag @product.photo.key %>
  </div>
  <div class="details">
    <h2 class="brand"><%= @product.brand %></h2>
    <h3><div class="product-color-circle" style="background-color: <%= @product.color %>"></div> <%= @product.apparel_type %></h3>
    <h3 class="description"><%= @product.description %></h3>
    <p class="size"><%= @product.size  %></p>
    <p class="priceshow">$<%= @product.price_per_cycle %></p>
    <p><%= link_to "View booking details", new_product_booking_path(@product), class: "add-btn" %></p>

    <% if current_user.id == @product.owner_id%>
      <p><%= link_to "Delete",
      product_path(@product),
      class: "btn btn-danger",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %></p>
    <% end %>
  </div>
</div>




<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


</div>

<style>
.product-details {
  display: flex;
  align-items: center;
  padding: 100px;
}

.image {
  flex: 1;
  margin-right: 50px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.details {
  flex: 2;
  text-align: left;
}

.brand {
  font-size: 38px;
  font-weight: bold;
}

.product-color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 13px;
  border: 0.5px solid black;
}

.description {
  font-size: 20px;
  font-style: italic;
}

.size {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Add margin to separate from the price */
}


.priceshow {
  font-size: 22px;
  font-weight: bold;
}

</style>
