<<<<<<< Updated upstream
<div class="product-details">
  <h2 class="brand"><%= @product.brand %></h2>
  <h2><div class="product-color-circle" style="background-color: <%= @product.color %>"></div> <%= @product.apparel_type %></h2>
  <h3 class="description"><%= @product.description %></h3>
  <p class="size"><%= @product.size  %></p>
  <p class="price">$<%= @product.price_per_cycle %></p>
  <p><%= link_to "View booking details", new_product_booking_path(@product), class: "btn btn-dark" %></p>

  <% if current_user.id == @product.owner_id%>
    <p><%= link_to "Delete",
    product_path(@product),
    class: "btn btn-danger",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></p>
  <% end %>
</div>

<style>
.product-details {
  text-align: right;
  padding: 100px;
}

.brand {
  font-size: 28px;
  font-weight: bold;
}

.product-color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 13px;
  border: 0.5px solid black;
}

.description {
  font-size: 20px;
  font-style: italic;
}

.size {
  font-size: 24px;
  font-weight: bold;
}

.price {
  font-size: 22px;
  font-weight: bold;
}
</style>
=======
<h1><%= @product.brand %></h1>
<h3><%= @product.description %> <%= @product.price_per_cycle %></h3>
<p><%= link_to "View booking details", new_product_booking_path(@product) %></p>
</ul>

>>>>>>> Stashed changes
